body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #121212;
    color: white;
}

.container {
    margin-top: 50px;
}

input, button {
    padding: 10px;
    font-size: 16px;
}

button {
    background-color: #ff4747;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #d43f3f;
}
